.ImageWrapper{
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);  
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    position: absolute;
    margin-top: 30px;
    
}