.BookingWrapper{
    color: #ffffff;
    text-shadow: -20px 0 40px #042907, 20px 0 40px #042907;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.192);

}
.Back{
    display: flex;
    
}
.BackArrow{
    margin-left: 10px;
    display: flex;
    border-radius: 11px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.329);
}
.BackArrow:hover{
   
    outline: 1px solid #4285f4;
}
.ResultWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.329);
    border-radius: 23px;
    color: black;
}
.ResultContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 530px;
    /* overflow: hidden;
    overflow: scroll; */
    padding-left: 2rem;
    height: auto;
}
.Text{
    color: black;
}
.TextEmail{
    color: black;
    font-size: 13px;
}
 
/* .ResultContainer::-webkit-scrollbar {
 display: none;
}
.ResultContainer {
    -ms-overflow-style: none;
     scrollbar-width: none;
}

.ResultContainer::-webkit-scrollbar { 
    display: none;
}
.ResultContainer { -ms-overflow-style: none;
  scrollbar-width: none;
} */
th{
   padding: 3px;
    padding-right: 10px;
}
.SortContainer{
    display: flex;
}
.ViewContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}
.Date{
    font-size: 28px;
    letter-spacing: 2px;
}
.CardColumn{
    padding: 13px;
}
.EmailContainer{
    padding: 6px;
    border-radius: 10px;
    margin: 5px;
}

 @media screen and (max-width: 600px) {

.ResultWrapper{
    font-size: 16px; 
    border-radius: 13px;
    display: block;
}
.ResultContainer{
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: normal; 
    margin-left: -18px;
    height: auto;   
    width: 94%;
     }
     .ViewContainer{
    margin-top: 0px;
    margin-left: 54px;
    width: 73%;

     }
     .ViewContainer li{
    font-size: 17px;
     }
    
.BookingWrapper p{
    font-size: 23px;
     }
.BookingWrapper p.Date{
    font-size: 20px;
     }
     
 }