.suggestion{
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 1px 0, rgba(60, 64, 67, .15) 0 4px 15px 3px;
    border-radius: 3px;
    padding: 3px;
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.733);
    box-sizing: border-box;

}

.suggestion:hover{
    border: 2px solid #4285f4
    
    
}
.SearchContainer{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.StationContainer{
    max-height: 0px;
    
}
.SearchInput{
    font-size: 18px;
    padding: 14px 20px;
    margin: 8px 0;
    border-color: rgba(128, 128, 128, 0.459);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 4rem;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 1px 0, rgba(60, 64, 67, .15) 0 4px 15px 3px;
    cursor: pointer;
    width: 15rem;
    box-sizing: border-box;
    

}
.NoResult{
    /* color: cadetblue;
    font-size: 18px; */
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 1px 0, rgba(60, 64, 67, .15) 0 4px 15px 3px;
    border-radius: 3px;
    padding: 3px;
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.733);
}
/* 
.StationContainer::-webkit-scrollbar {
 display: none;
}
.StationContainer {
    -ms-overflow-style: none;
     scrollbar-width: none;
}

.StationContainer::-webkit-scrollbar { 
    display: none;
}
.StationContainer { -ms-overflow-style: none;
     scrollbar-width: none;
} */

