
.PageHeader{
   color: rgb(252, 250, 249);
   padding-top: 4rem;
   text-shadow: -20px 0 40px #042907, 20px 0 40px #042907;
   font-size: 23px;
}

.Wrapper{
    position: fixed;
    width: 100%;
}
.Icon{
    background-color: rgba(14, 41, 5, 0.226);
    border-radius: 20px;
}
.calender{
    margin-left: 42.npm 5%;
} 
.InputContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
.react-datetime-picker{
    background-color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border-color: rgba(128, 128, 128, 0.459);
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 1px 0, rgba(60, 64, 67, .15) 0 4px 15px 3px;
    cursor: pointer;

}

.react-datetime-picker:hover{
    border: 2px solid #4285f4
}
.react-datetime-picker__wrapper{
    border:none;
}

.IconContainer{
    display: flex;
    align-items: flex-end;
    padding-bottom: 1rem;
    color: #fff;
}
.DateTimeContainer{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.Btn{
    padding: 2.5rem;
}
@media screen and (max-width: 600px) {
.PageHeader {
   font-size: 17px; 
  }
.react-datetime-picker{
    padding: 14px 6px;
  }
  .react-calendar{
      max-width:76%;
  }
}
/* .Section{
    height: 90px;
    background-color: rgb(245, 244, 244);
    display: flex;
    flex-direction: row;

    
}
.Separator{
    height: 300px;
    background-color: rgb(245, 244, 244);
    margin-top: 170px;

}*/

