.container {
    padding: 100px;
  }
  .email-input {
    padding: 6px;
    border-radius: 10px;
    margin: 5px;
    
  }
  
  .message {
    margin-top: 20px;
    font-size: 17px; 
  }
  
  .error {
    color: rgb(8, 8, 8);
  }
